doctype html

html(lang='en')
    head
        title Poetry for Neanderthals more cards!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="main.css")
        script(src='https://code.jquery.com/jquery-3.6.1.min.js')
        script(src='LADEC.js')
        script(src='card_generator-min.js')

    body
        .container
            h1 &ldquo;Poetry for Neanderthals&rdquo; more cards!

            .game-options
                .menu-bg-color
                    .prompt Page hue
                    .radio
                        label
                            input(type='radio', name='bg-color', value='green', checked)
                            .bubble
                        label
                            input(type='radio', name='bg-color', value='yellow')
                            .bubble
                        label
                            input(type='radio', name='bg-color', value='gray')
                            .bubble


                .menu-difficulty
                    .prompt How hard?
                    .radio
                        label
                            input(type='radio', name='difficulty', value='easy')
                            .checkbox
                            span the long words CAN NOT be rare
                        label
                            input(type='radio', name='difficulty', value='medium', checked)
                            .checkbox
                            span the long words CAN be rare
                        label
                            input(type='radio', name='difficulty', value='hard')
                            .checkbox
                            span the long words MUST be rare

                .howto
                    input(type='checkbox')#instructions-toggle
                    label(for='instructions-toggle').title How do I use this? (click to #[span.show show]#[span.hide hide] guide)
                    ol.instructions
                        li You know how to play &ldquo;Poetry for Neanderthals&rdquo; and you have your two teams Mad and Glad with Team Mad to start (as shown by the team names down there).
                        li Choose (up top) how hard the game will be.
                        li Pass this to the first one to play, call them Groc for this guide.
                        li To start their turn, Groc may click hit GO or the blank card. This will show the first card, start the clock, and GO will change to SKIP.
                        li To skip the card or if Groc screws up, they must click SKIP (and lose a point). If Groc's team gets the top word and Groc wants to move on, click the white part of the card for one point. If Groc's teams get the bottom word, click the red part of the card for three points. In each case, the words (for this turn) show up in the lists at the foot of the page.
                        li Once time's up, the score is summed and Groc should pass to the next team.

            .turn-indicator
                .mad.current Team Mad<br>#[span.score 0]
                .glad Team Glad<br>#[span.score 0]

            .timer
                .inner-bar

            .card
                .card-top
                    .points 1
                    .word#constituent
                .card-bottom
                    .word#compound
                    .points 3

            input(type='button', value='GO')#draw-button

            .turn-tally
                .bucket.flops
                    h2 -1
                .bucket.ones
                    h2 1
                .bucket.threes
                    h2 3

            .info
                p Disclaimer: I, the author of this web app, am not affiliated with Exploding Kittens in any official capacity, I just like &ldquo;Poetry for Neanderthals&rdquo;. Furthermore, I have no intention of eclipsing the base game or the official expansion pack. (Go #[a(href='https://www.explodingkittens.com/collections/poetry-for-neanderthals', target='_blank') buy the game] if somehow you found yourself here without it!) In particular, while I'm sure there is some overlap, most of the official cards do not appear here (this is explained is further #[a(href='', target='_blank') here]) and there will always be gameplay value in the tactility of physical cards. 
                p The LADEC database is used to generate the cards. I encourage anyone interested in psycholinguistics to read their paper: <br>#[span.citation Gagn&eacute;, C.L., Spalding, T.L. & Schmidtke, D. LADEC: The Large Database of English Compounds. Behav Res 51, 2152–2179 (2019). #[a(href='https://doi.org/10.3758/s13428-019-01282-6', target='_blank') https://doi.org/10.3758/s13428-019-01282-6]]




